﻿@{
    ViewBag.Title = "Ana Sayfa";
}



<table width="900" height="215" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td align="left">
                <div class="turizm">
                    <table width="190" height="209" border="1" align="center" cellpadding="1" cellspacing="1">
                        <tbody>
                            <tr>
                                <td style="text-align: center;" height="175">
                                    <a href="#" _fcksavedurl="#"><img src="~/Content/img/duyurular.jpg" width="200" height="200" alt="" /></a>
                                </td>
                            </tr>
                            <tr> <td style="text-align: center;"></td> </tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <td>
                <div class="turizm">
                    <table width="190" height="209" border="1" align="center" cellpadding="1" cellspacing="1">
                        <tbody>
                            <tr>
                                <td style="text-align: center;" height="175">
                                    <a href="#" _fcksavedurl="#"><img src="~/Content/img/kamp.jpg" width="200" height="200" alt="" /></a>
                                </td>
                            </tr>
                            <tr> <td style="text-align: center;"></td> </tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <td>
                <div class="turizm">
                    <table width="190" height="209" border="1" align="center" cellpadding="1" cellspacing="1">
                        <tbody>
                            <tr>
                                <td style="text-align: center;" height="175">
                                    <a href="#" _fcksavedurl="#"><img src="~/Content/img/sondakika.jpg" width="200" height="200" alt="" /></a>
                                </td>
                            </tr>
                            <tr> <td style="text-align: center;"></td> </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        
                            <tr> <td style="text-align: center;"></td> </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </tbody>
</table>





<table width="900" height="215" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td align="left">
                <div class="turizm">
                    <table width="190" height="209" border="1" align="center" cellpadding="1" cellspacing="1">
                        <tbody>
                            <tr>
                            <tr> <td style="text-align: center;">değerli yolcularımız otobüs saatleri dışında gelen kişilerin biletleri iptal edilmektedir.</td> </tr>
                            <tr> <td style="text-align: center;">bugün saat 16.00da gerçekleşecek olan istanbul seferimiz iptal edilmiştir.</td> </tr>
                           
        </tr>
    </tbody>
</table>
    </div>
 </td>
<td>
    <div class="turizm">
        <table width="190" height="209" border="1" align="center" cellpadding="1" cellspacing="1">
            <tbody>
                <tr>
                <tr> <td style="text-align: center;">internetten alınan her bir bilete %15 indirim!</td> </tr>
                <tr> <td style="text-align: center;"> öğretmenler gününe özel % 35 indirim!</td> </tr>
              
                </tr>
            </tbody>

        </table>
    </div>
</td>

<td>
    <div class="turizm">
        <table width="190" height="209" border="1" align="center" cellpadding="1" cellspacing="1">
            <tbody>
                <tr>
                <tr> <td style="text-align: center;">istanbul'da silahlı saldırı!</td> </tr>
                <tr> <td style="text-align: center;">ünlü oyuncu hayranlarını hayal kırıklığına uğrattı...</td> </tr>
                
                </tr>
            </tbody>
        </table>
    </div>
</td>


            </tr>
        </tbody>
    </table>



